* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.title {
    margin-top: 156px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}

.container {
    justify-content: center;
    display: flex;
    margin-top: 125PX;
    margin-right: 60px;
}

.cubitos-adornos {
    margin-right: 19px;
    margin-top: 260px;
}

.cubito1 {
    width: 8px;
    height: 8px;
    background: #EAB7B7;
    margin-bottom: 17px;
}

.cubito2 {
    width: 20px;
    height: 20px;
    background: #FF0000;
    margin-left: 8px;
    opacity: 0.2;
}

.card {
    margin-left: 20px;
    width: 245px;
    height: 393px;
    
}

.principal{
    cursor: pointer;
}


.video {
    height: 84%;
    background: #000000;
    border-radius: 8px 8px 0px 0px;
    position: relative;
}

.video img{
    border-radius: 8px 8px 0px 0px;
    position: absolute;
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.pregunta {
    height: 17%;
    position: relative;
}

.pregunta-contenedor {
    background: #C4C4C4;
    padding: 13px 12px;
    border-radius: 0px 0px 8px 8px;
}

.cubito-pregunta {
    position: absolute;
    height: 12px;
    width: 12px;
    background: #EAB7B7;
}

.position-cubito1 {
    top: 13px;
}

.position-cubito2 {
    right: 0px;
    top: 13px;
}

.pregunta-contenedor span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.play {
    margin-left: 12px;
    margin-top: 260px;
    text-align: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.55);
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: absolute;
}

.play i {
    margin-top: 35%;
    color: white;
}